@model MealBook.Web.Models.Meal

@{
    ViewData["Title"] = "Gofry";
}

<h4>
    Autor: @Html.DisplayFor(model => Model.Author.Name)
</h4>

<hr />

<h1>
    @Html.DisplayFor(model => Model.Name)
</h1>

<br />

<h3>Składniki:</h3>

<ul>
    @foreach(var item in Model.Ingredients)
    {
        <li>
            @Html.DisplayFor(itemModel => item.Name) @Html.DisplayFor(itemModel => item.Quantity) @Html.DisplayFor(itemModel => item.Unit)
        </li>
    }
</ul>
<hr />

<h3>Przygotowanie:</h3>

<p>
    Czas: <b>@Html.DisplayFor(model => Model.Time) min.</b>
</p>

<p>
    @Html.DisplayFor(model => Model.Description)
</p>

<hr />
